@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Light.ttf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}